
body {
    margin: 0;
    padding: 0;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://cdn.pixabay.com/photo/2020/03/21/02/26/pizza-4952508_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .header {
    padding: 73px;
    text-align: center;
    background: gray;
  }


  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .navbar ul li {
    margin: 0 1rem;
  }

  .navbar ul li a {
    color: white;
    text-decoration: none;
  }

  .text1 {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Posiziona il contenuto in basso */
    height: calc(60vh - 137px); /* Altezza totale meno l'altezza della navbar */
    text-align: center;
    background-position: center;
    padding-bottom: 20px; /* Distanza dal fondo */
    font-size: 150px;
    position: fixed;
    font-family: 'Dancing Script', serif;
    color: aqua;
  }



  .navbar-collapse {
    position: fixed;
    width: 54%;
    padding: 1em 0;
    z-index: 1000;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .navbarmenu {
    float: right;
    display: inline;
    color: gray;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    line-height: normal;
    display: flex;
    list-style-type: none;
  }

  .navbar li {
    float: left;
  }

  .last-menu ul {
    margin-right: 20px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .navbar li a {
    color: grey;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }

  .navbar-toggler {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 4%;
    z-index: 1000;
    display: flex;
  }